@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

:root {
    --pink-dark: #F2ACCD;
    --pink-light: #F2C9DC;
    --text-color: #000;
    --font-family: 'Montserrat', sans-serif;
}

body {
    font-family: var(--font-family);
    color: var(--text-color);
}

header, footer {
    background-color: var(--pink-dark);
}

main {
    background-color: var(--pink-light);
}

a:any-link {
    text-decoration: none;
    color: var(--text-color);
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    border: 1px solid var(--pink-dark);
    position: sticky;
    top: 0;
    min-height: 80px;
    max-height: 80px;
}

header a:any-link {
    transition: background-color .8s;
}

header a:hover {
    background-color: var(--pink-light);
}

nav a {
    margin: 0 20px;
    padding: 0 10px;
    padding-bottom: 100%;
    padding-top: 5%;
}

header img {
    width: 80px;
}

nav a {
    padding: 5% 10px 30px 10px;
}

nav a:last-child {
    margin-left: 20px;
}

footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    gap: 20px;
    padding: 20px;
}

footer ul {
    margin: 0;
    padding: 0;
    display: flex;
    gap: 30px;
    list-style-type: none;
}